@import "./_core.less";


.slideHidden .img,
.slideHidden .text{
	.transition("0s !important");
	.animation(none);
}
#page1{
	&.slideHidden{
		.text{
			left: -100%
		}
	}
	&.slideActive{
		.text{
			transition: 1s;
		}
	}
}
#page2{
	&.slideHidden{
		.text{
			.transform(translate(-120%,0));
		}
		.img1{
			.transform(scale(1.5));
		}
	}
	&.slideActive{
		.img1{
			.transition( 1.5s ease-out );
		}
		.text{
			.transition( .6s );
			.transition-delay( 1.3s );
		}
	}
}
#page3{
	&.slideHidden{
		.text{
			.transform( translate(-20%,0) scale(1,0) );
		}
		.img1{
			.transform( translate(0,50%) );
		}
		.img2{
			.transform( translate(0,50%) );
		}
		.img3{
			.transform( translate(0,100%) );
		}
	}
	&.slideActive{
		.text{
			.transition( .8s ease-out );
			.transition-delay( 1s );
		}
		.img1{
			.transition( .4s ease-out );
			.transition-delay( .5s );
		}
		.img2{
			.transition( .4s ease-out );
			.transition-delay( .8s );
		}
		.img3{
			.transition( 1s ease-out );
		}
	}
}

#page4{
	&.slideHidden{
		.text{
			.transform(translate(100%,0));
		}
		.img1{
			.transform(scale(1.4));
		}
		.img2{
			.transform( translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg) );
			.transform-origin( center center );
			opacity: 0;
		}
	}
	&.slideActive{
		.img1{
			.transition( 1.5s ease-out );
		}
		.text{
			.transition( .5s );
			.transition-delay( .7s );
		}
		.img2{
			opacity: 1;
			.transition( .6s );
			.transition-delay(1.2s);
		}
	}
}
#page5{
	&.slideHidden{
		.text{
			.transform(translate(100%,0));
		}
		.img1{
			.transform(scale(.4));
		}
	}
	&.slideActive{
		.img1{
			.transition( 1s ease-out );
		}
		.text{
			.transition( .5s );
			.transition-delay( .7s );
		}
	}
}
